<!--Landing page for app-->

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro" rel="stylesheet">
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--My CSS-->
        <link rel="stylesheet" href="style.css" type="text/css">
        <!--Title-->
        <title>Second Hand Sales</title>
        <!--Favicon-->
        <link rel="icon" href="https://standrewsvictoria.ca/files/2014/08/thrift-shop-l.png">
    </head> 
    <body>

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BSh1Uw_2it4nt1c1/videoblocks-man-in-thrift-store-shops-for-some-new-shirts_b_gwbsm1w_thumbnail-full01.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/10/12/104769438-NATALIE_POST.jpg?v=1507838306" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://www.nctv17.com/wp-content/uploads/2016/07/THRIFT1.jpg" alt="Third slide">
          </div>
        </div>
      </div>
      
      <div class="landing">
          <div class="landing-text-container landing-text-sway">
              <div class="landing-information">
                  <div class="landing-text">
                  <h1>Second Hand Sales</h1>
                  <h4>Your home for the best deals!</h4>
              </div>
              <i class="fas fa-hand-holding-heart"></i>
              </div>
          </div>
          <a href="/thrifts" class="main-button landing-mt">View all second hands</a>
      </div>
      
      <!--DONT ADD COPYRIGHT OR MAIN SCRIPT-->
      </body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>