<!--New page that shows form for account to be logged in to-->
<% include ./partials/header %>

<div class="container form-container">
    <div class="jumbotron thrift-jumbo">
        <h1 class="display-5 form-header">Login to an account!</h1>
    </div>
    
    <div class="container">
        <form id="form" class="auth" method="POST" action="/login">
            <!--Comment-->
            <input class="form-control" type="text" placeholder="Username" name="username">
            <!--Name-->
            <input class="form-control" type="password" placeholder="Password" name="password">
            <!--Submit-->
            <button type="submit" class="btn btn-success main-button">Login!</button>
        </form>
        <a class="btn btn-sm btn-danger" href="/thrifts">Go back</a>
    </div>
</div>

<% include ./partials/footer %>